.page {
    display: flex;
    align-items: center;
}

.page_bg-cover_forest {
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-size: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.container_position_center {
    margin-left: auto;
    margin-right: auto;
}

.box {
    height: 50%;
    width: 33.3333333333333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box__text, .forecast-day__weekday, .forecast-day__temperature {
    font-size: 16px;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 600;

}

.forecast-day__temperature:after{ content: "\00b0" }

.box__text:after{ content: "\00b0" }

.box__picture_position_center, .box__main-forecast-picture, .box__forecast-list  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

.box__main-forecast-picture_bg-color {
    background-color: #dc3d66;
}

.box__forecast-list_bg-color {
    background-color: #af3152;
}

.forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.forecast-day_size {
    height: 75%;
    width: 20%;
}

.forecast-day__icon_size {
    height: 30.7%;
}

.forecast-day__weekday_fontsize, .forecast-day__temperature_fontsize {
    font-size: 12px;
}


.box_color_first {
    background-color: #06b3db;
}

.box_color_second {
    background-color: #4ed486;
}

.box_color_third {
    background-color: #6139f6;
}

.box_color_fourth {
    background-color: #e3b63d;
}

.box_color_fifth {
    background-color: #bd54cd;
}

/*media query for landscape orientation*/

@media screen and (min-width: 1400px) and (orientation: landscape) {
    .container {
        max-height: 600px;
        max-width: 900px;
    }
    .box_resize {
        height: 300px;
        width: 300px;
    }

    .box__text_resize {
        font-size: 130%;
    }

    .forecast-day__weekday_fontsize, .forecast-day__temperature_fontsize {
        font-size: 120%;
    }

}

@media screen and (max-width: 650px) and (orientation: portrait) {
    .container {
        max-height: 450px;
        max-width: 300px;
    }

    .box_resize {
        width: 150px;
        height: 150px;
    }

    .box__text_resize {
        font-size: 75%;
    }


    .box__image_resize {
        max-width: 65px;
    }

    .forecast-day__image_resize {
        max-width: 17px;
    }

    .box__image_grid-ie-resize {
        max-width: 45px;
    }
}

@media screen and (max-height: 450px) and (orientation: landscape) {
    .container {
        max-height: 300px;
        max-width: 450px;
    }
    .box_resize {
        width: 150px;
        height: 150px;
    }

    .box__text_resize {
        font-size: 75%;
    }


    .box__image_resize {
        max-width: 65px;
    }

    .forecast-day__image_resize {
        max-width: 17px;
    }

    .box__image_grid-ie-resize {
        max-width: 45px;
    }
}


